---
interface Props {
  icon: string;
  title: string;
  content: string;
}

const { icon, title, content } = Astro.props;
---

<div class="service-box">
  <div class="service-icon">{icon}</div>
  <div class="service-content">
    <h3>{title}</h3>
    <p>{content}</p>
  </div>
</div>

<style>
  .service-box {
    display: flex;
    width: 100%;
    height: 8rem;
    background-color: var(--bg-secondary);
    border-radius: 0.5rem;
    align-items: center;
    gap: 1rem;
    padding: 1.2rem;
  }
  .service-icon {
    height: 100%;
    width: 18%;
    display: flex;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
  }

  .service-content {
    width: 80%;
    height: 100%;
  }
  .service-content p {
    margin-top: 0.5rem;
    font-size: small;
    opacity: 60%;
  }
</style>
